

.nav-bar-container{
    display: flex;    
    justify-content:space-between;
    align-items: center;
    margin: 47px 0;
    padding: 0px 60px;
}
.nav-btn button{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 7px;

}
.nav-btn a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* Inspiration start  */

.inspiration-container{
    margin-top: 100px;
}

.inspiration-container h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}
.inspiration-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 80px;
    margin-bottom: 48px;
}

.youtube{
    padding: 20px;
    border-radius: 16px;
    border: 0.5px solid rgb(209, 202, 202);
    height: fit-content;
    margin: 32px;
}
.youtube iframe{
    width: 100%;
    border-radius: 16px;
}

/* My Current Target  */

.my-current-target{
    margin: 32px;
}
.my-current-target-up{
    margin-top: 100px;
    text-align: center;
}
.my-current-target-up h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}
.my-current-target-up p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.target-card-1{
    width: 300px;
    height: 310px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.target-card-1 h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
}
.target-card-1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.target-card-1 a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    
}

/* card 2  */
.target-card-2{
    width: 300px;
    height: 310px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}
.target-card-2 h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
}
.target-card-2 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.target-card-2 a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.submit-container{
    height: 313px;
    margin: 32px;
    
    background-image: url(/images/handshake.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 30px;
    
}


.submit-up h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 100px;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.submit-up p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding:16px 40px;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.submit-down{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.submit-down input{
    width: 548px;
    padding: 11px 10px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}
.submit-down button{
    
    height: 35.81px;
    border-radius: 8px;
    border: none;
    color: rgb(13, 19, 33);

    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.card-btn button{
    transition: background-color 0.3s ease, color 0.4s ease;
}

.card-btn button:hover{
    background-color: rgb(86, 222, 247);
}

/* footer start  */

#footer{
   
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-main{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}
.footer-icon img{
    width: 36px;
    margin-left: 10px;
}