

.nav-bar-container{
    display: flex;    
    justify-content:space-between;
    align-items: center;
    margin: 47px 0;
}
.nav-btn button{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 7px;

}
.nav-btn a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* Inspiration start  */

.inspiration-container{
    margin-top: 100px;
}

.inspiration-container h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}
.inspiration-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 80px;
    margin-bottom: 48px;
}

.youtube{
    padding: 20px;
    border-radius: 16px;
    border: 0.5px solid rgb(209, 202, 202);
    height: fit-content;
}
.youtube iframe{
    width: 100%;
    border-radius: 16px;
}


